fastapi
uvicorn[standard]
python-dotenv
langchain-groq
langchain-experimental
langchain-core
pypdf
python-multipart
google-search-results
duckduckgo-search
langchain-community
ddgs

lxml
pydantic
pypdf
python-dotenv
cryptography==3.1